.App {
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;

  background-color: #f0f0f0;
  width: 100vw;
  height: 100vh;

}


form {
  display: flex;
  flex-direction: row;
  align-items: center;
}



button {
  padding: 10px;
  border-radius: 15px; 
  /* Border radius to round out the button */
  background-color: #007bff; 
  color: white;
}

button:hover {
  background-color: #0056b3; 
}

ul {
  list-style-type: none;
  /* Avoiding the bullet points of list style */
  padding: 0;
}

li {
  background-color: #fff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}